@model BookSphere.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<br />
<div>
    <h4>Books by this Author</h4>
    <hr />
    @if (Model.BookAuthors != null && Model.BookAuthors.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publication Date</th>
                    <th>Pages</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bookAuthor in Model.BookAuthors)
                {
                    <tr>
                        <td>@bookAuthor.Book.Title</td>
                        <td>@bookAuthor.Book.PublicationDate.ToShortDateString()</td>
                        <td>@bookAuthor.Book.Pages</td>
                        <td>
                            <a asp-controller="Books" asp-action="Details" asp-route-id="@bookAuthor.BookId">View Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No books found for this author.</p>
    }
</div>

<br />
<div>
    @if(User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
